
body {
  background-color: white;
  color: black;
}

.dark body {
  background-color: #1a202c;
  color: white;
}

.dark h1, .dark h2, .dark h3, .dark p {
  color: white;
}

.sidebar {
  background-color: white;
  color: black;
}

.dark .sidebar {
  background-color: #2d3748;
  color: white;
}

.dark .footer {
  background-color: #2d3748;
  color: white;
}