@import "tailwindcss";

.dark .bg-white {
  background-color: #2d3748;
}

.dark .text-black {
  color: white;
}

.dark .border {
  border-color: #4a5568;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.fixed {
  position: fixed;
}

.mt-auto {
  margin-top: auto;
}